<main>
  <p id="notice"></p>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
      
      <%= render "user" %>
      
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              
              <td> <%= attachment_image_tag @user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg"%> 
               <br><%= link_to @user.name, user_path(@user) %></br>
              </td>
              <td> <%= link_to@bookfind.title %> </td>
              <td> <%= @bookfind.body %> </td>
              <td>
                <% if @bookfind.favorited_by?(current_user) %>
                <%= link_to book_favorites_path(@bookfind), method: :delete do %>
                ♥<%= @bookfind.favorites.count %>
                <% end %>
                <% else %>
                <%= link_to book_favorites_path(@bookfind), method: :post do %>
                ♡<%= @bookfind.favorites.count %>
                <% end %>
                <% end %>
              </td>
              <% if @bookfind.user_id == current_user.id %>
              <td> <%= link_to "Edit", edit_book_path(@bookfind), class:"btn btn-success"%> </td>
              <td> <%= link_to "Destroy", book_path(@bookfind), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-danger" %> </td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>